<div class="main-right">
  <form class="form-inline">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请输入...">
    </div>
    <button type="submit" class="btn btn-default" style="color: #999999">搜索</button>
  </form>
  <div class="subject">
    <h4>所有专题</h4>
    <ul>
      <li>每周精华</li>
      <li>访谈专题</li>
      <li>其他专题</li>
    </ul>
  </div>
  <div class="recommend">
    <h4>为你推荐</h4>
    <ul>
      <li>谷雨 | 作家龙应台与母亲首支纪录片：落泪注视 生命从不等候</li>
      <li>太原最牛“钉子户”被绿色环绕 如同绿洲中的“孤岛”</li>
      <li>太原最牛“钉子户”被绿色环绕 如同绿洲中的“孤岛”</li>
    </ul>
  </div>
</div>
