.news {
  background-image:url("http://120.78.138.104/images/HL-website/新闻.jpg");
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
.content {
  width: 80%;
}
.news-top {
  text-align: center;
  color: white;
}
.news-top h1 {
  font-size: 40px;
}
.news-top p {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.news-top .line {
  height: 8px;
  background-color: white;
  background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0.1),rgba(255,255,255,0));
}

.news-top .s-line {
  width: 135px;
  height: 6px;
  background-color: rgb(230,0,0);
  margin: 0 auto;
}

.news-bottom {
  margin-top: 30px;
}
.bottom1 {
  position: relative;
  background:gray;
  border: 3px solid white;
}
.bottom1 .box {
  position: absolute;
  right: 10px;
  bottom: -2px;
}
.bottom1 ul {
  overflow: hidden;
  list-style: none;
}
.bottom1 li {
  float: right;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: white;
}
.bottom2 {
  position: relative;
}
.bottom2 .toggle-table{
  position: absolute;
  top:-40px;
  left:50%;
  transform: translateX(-50%);
}
.bottom2 .table1 {
  display: inline-block;
  width: 100px;
  height: 30px;
  background:#F74D34;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
.bottom2 .table1:hover {
  cursor: pointer;
}
.bottom2 .table2 {
  display: inline-block;
  width: 100px;
  height: 30px;
  background:#1F6FE5;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
.bottom2 .table2:hover {
  cursor: pointer;
}

.bottom2 .newss {
  height: 71px;
  background: white;
  margin-bottom: 20px;
  padding-top:4px;
  padding-bottom: 4px;
  overflow: hidden;
}
.bottom2 .newss .bottom-news {
  overflow: hidden;
  height: 100%;
}
.bottom-news .l{
  float: left;
  height: 100%;
  width: 20%;
  background: rgb(250,100,75);
  text-align: center;
  padding-top: 17px;
  color: white;
}
.bottom-news .l span {
  display: block;
}
.bottom-news .r {
  float: left;
  height: 100%;
  text-align: left;
  color: black;
  padding:4px 0 0 15px;
}
.bottom-news .r h4 {
  font-size: 12px;
  font-weight: bold;
  margin:0;
  margin-bottom: 5px;

}
.bottom-news .r p {
  font-size: 10px;
  margin-bottom:0 ;
}
.bottom-question {
  height: 250px;
  background:white;
  padding:22px 0 22px 20px;
}
.bottom-question .questions1{
  background-color: white;
  height:71px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

}
.bottom-question i {
  color: white;
  width: 25px;
  height: 25px;
  margin:0 10px 10px 0;
  font-size: 16px;
  line-height: 25px;
  background: red;
  text-align: center;
}
.bottom-question .a {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  margin:0 10px 10px 0;
  font-size: 19px;
  line-height: 25px;
  background: red;
  text-align: center;
}
.bottom-question .questions2 {
  background-color: white;
  height:75px;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid black;
}
.bottom-question .questions3 {
  background-color: white;
  height:75px;
}
/*媒体查询*/
@media  (max-width: 993px){
  .news-top h1 {
    font-size: 26px;
    margin-top: 40px;
  }
  .news-top p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  .news-top .line{
    height: 4px;
  }
  .news-top .s-line {
    width: 75px;
    height: 3px;
  }
  .bottom1{
    display: none;
  }
  .bottom2 .toggle-table{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
   .bottom2 .new-box{
     /*width: 100vw;*/
     height: 100px;
     background: #000;
  }
  .bottom-news .l {
    width: 35%;
    height: 100%;

  }
  .bottom-question {
    background:white;
  }
}
