<app-banner [imageUrl]="picture"></app-banner>
<div class="aboutlist">
  <div class="container">
    <div class="row" style="padding: 30px 0 30px 0;">
      <div class="col-lg-4 col-md-4">
        <div class="classify">
          <ul>
            <li [ngClass]="{'active':i==bool, 'unactive': !(i==bool)}" *ngFor="let i of title" (click)="toggleTitle(i)">{{i}}</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="word">
          <div *ngIf="bool==='公司基本情况'" class="basic ">
            <h3>公司基本情况</h3>
            <p>
              贵阳红鸟智能技术服务有限公司是面对企业提供专业信息系统集成、智能制造改造、管理软件开发、物联网等技术的计算机技术服务公司，擅长通过云端实现应用级物联网智能技术的设计与实施。公司虽然成立时间较短，但主要以从事多年软件工程、工业自动化、感知技术的人员组成，并有数名相关专业博士及研究生导师带队参与项目研发，力争做到研发项目的实用性、真实性，切实用人工智能技术解决企业、社会痛点，推进信息化技术发展。
            </p>
          </div>
          <div *ngIf="bool==='主要人员'" class="person" >
            <h3>主要人员</h3>
            <div class="row" *ngFor="let item of person">
              <div class="col-lg-4 col-md-4">
                <img [src]="item.imgUrl" alt="" style="width: 200px;padding: 20px">
              </div>
              <div class="col-lg-8 col-md-8">
                <div>
                  <h4>{{item.staffName}}</h4>
                  <p>职务：{{item.staffPosition}}</p>
                  <p>职务内容：{{item.workDescription}}</p>
                  <p>个人介绍：{{item.peopileDescription}}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="bool==='主要设计实施的项目'" class="project">
            <h3>主要设计实施的项目</h3>
            <div *ngFor="let i of project">
              <h4>{{i.caseName}}:</h4>
              <p >{{i.caseContent}}</p>
            </div>
          </div>
          <div *ngIf="bool==='未来规划'" class="plane">
            <h3>未来规划</h3>
            <p>
              {{programme[0].companySummarize}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
