.main {
  padding: 60px 0 60px 0;
}
.main-left{
  height: 500px;
  /*background: orangered;*/
}

.main-left .picture {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 200px;

}
.main-left .content {
  height: 200px;
}
.main-left .content h3{
  margin: 0;
  text-align: left;
  font-size: 22px;
}
.main-left .content h3:hover {
  cursor: pointer;
}
.main-left .content p {
  margin-top: 25px;
  font-size: 16px;
  text-align: left;
}
.main-left .content .view {
  text-align: left;

}
.main-left .content .view span {
  margin-right: 20px;
}
.main-right .subject {

}
@media (max-width: 993px) {
  .list-left {
    display: none;
}

}

