<div class="case" [ngStyle]="{'height': h + 'px'}">
  <div class="content">
    <div class="case-top">
      <h1>CASE INTRODUCTION</h1>
      <div class="line">
        <div class="s-line"></div>
      </div>
      <p>案例介绍</p>
    </div>
    <div class="case-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4" *ngFor="let item of caseList" [routerLink]="['/home/details']" [queryParams]="{id:item.id,name:'案例介绍'}">
            <div class="center1" >
              <div class="sqr" [ngStyle]="{'background-image': 'url('+item.imgUrl+')'}"></div>
              <div class="name">
                <h2>{{item.caseName}}</h2>
                <button>{{item.caseSummary}}</button>
                <!--<button>查看详情</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
