.header{
  width: 100%;
  height: 80px;
  position: fixed;
  top:0;
  left: 0;
  padding-left: 80px;
  background: white;
  z-index: 9999;
}
.logo{
  display: inline-block;
  position: absolute;
  top:8.5px;
  left: 0;
}
.navbar-brand .name{
  float:left;
}
.navbar-brand .name>p{
  margin: 0;
  padding-top: 15px;
  font-size: 20px;
  color: black;
  vertical-align: center;
}
/*.name{
  display: inline-block;
  padding-left: 100px;
  padding-top: 17px;
}*/

.navlist ul{
  padding-left: 0;
  margin-bottom: 0;
}
.navlist ul li{
  line-height: 80px;
  float: left;
  list-style: none;
  margin-right: 15px;
  width: 100px;
}
.navlist ul li:hover{
  background: rgb(230,0,0);
  color: white;
  cursor: pointer;
}
.active{
  background: rgb(230,0,0);
  color: white;
}
.unactive{
  color: #515151;
  background-color: transparent;
}
@media (max-width: 1290px) {
  .header {
    padding-left: 0;
  }
  .name{
    display: none;
  }
}
@media (max-width: 993px) {
  .header {
    display: none;
  }
}

/*bootstrap改造*/
.navbar-brand {
  padding: 15px 0 0 0;
  vertical-align: center;
}
@media (min-width: 768px){
  .navbar-nav {
    float: right;
    margin: 0;
  }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: rgb(230,0,0);
  color: white;
}
.navbar {
  min-height: 80px;
}
.navbar-nav > li > a {
  line-height: 50px;
}
