<div class="about" [ngStyle]="{'height': h + 'px'}">
  <div class="total">
    <div class="about-top" >
      <h1 class="text-center">ABOUT US</h1>
      <div class="line">
        <div class="s-line"></div>
      </div>
      <p class="p">关于我们</p>
    </div>
    <div class="about-bottom">
      <div class="container">
        <div class="about-content">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="centerl"></div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="centerc" [routerLink]="['/home/about']" [queryParams]="">
                <h4 class="text-center">公司简介</h4>
                <p>
                  <span>{{companyTro}}</span>
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="centerr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
