.about {
  background-image: url("http://120.78.138.104/images/HL-website/关于我们.jpg");
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  transition: opacity 2s;
}
.total {
  width: 80%;
}
.about-top {
  text-align: center;
  width: 100%;
  color: white;
}
.about-top h1 {
  font-size: 40px;
}
.about-top p {
  margin: 0;
  padding-top: 20px;
  font-size: 20px;

}
.about-top .line {
  height: 8px;
  background-color: white;
  background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0.1),rgba(255,255,255,0)); /* 标准的语法 */
}
.about-top .s-line {
  width: 135px;
  height: 6px;
  background-color: rgb(230,0,0);
  margin: 0 auto;
}


.about-bottom {
  margin-top: 30px;
}
.about-bottom .centerl {
  height: 250px;
  background-color: gray;
  background-image: url("http://120.78.138.104/images/HL-website/图层1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 2px solid white;
}
.about-bottom .centerc {
  padding-top: 15px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  padding-bottom: 10px;
}
.about-bottom .centerc h4 {
  margin: 0 0 5px 0;
  color: white;
}
.about-bottom .centerc p {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: white;
  text-indent: 28px;
  letter-spacing:2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;

}
.about-bottom .centerc p>span{
 font-size: 12px;
}
.about-bottom .centerr {
  display: block;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("http://120.78.138.104/images/HL-website/图层2.png");
  border: 2px solid white;
}

@media (max-width: 993px) {
  .about-top h1 {
    font-size: 26px;
    margin-top: 40px;
  }
  .about-top p {
    padding-top: 10px;
    /*padding-bottom: 30px;*/
    font-size: 14px;
  }
  .about-top .line{
    height: 4px;
  }
  .about-top .s-line {
    width: 75px;
    height: 3px;
  }
  .about-bottom .centerl{
    height: 150px;
    margin-bottom: 15px;
  }
  .about-bottom .centerr{
    display: none;
  }
}
