.about {
  background-image: url("http://120.78.138.104/images/HL-website/about.jpg");
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  transition: opacity 2s;
}
.total {
  width: 100%;
}
.about-top {
  text-align: center;
  color: black;
  width: 100%;
}
.about-top h1 {
  font-size: 44px;
  margin:0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-top p {
  margin: 0;
  padding-top: 20px;
}
.about-top .line {
  height: 3px;
  background-color: white;
}
.about .s-line {
  width: 135px;
  height: 4px;
  background-color: #03a9f4;
  margin: 0 auto;
}
.about-bottom {
  margin-top: 30px;
}
.about-bottom .centerl {
  height: 250px;
  background-color: gray;
  background-image: url("http://120.78.138.104/images/HL-website/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 5px solid white;
}
.about-bottom .centerc {
  padding-top: 15px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  padding-bottom: 10px;
}
.about-bottom .centerc h4 {
  margin: 0 0 15px 0;
  color: white;
}
.about-bottom .centerc p {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: white;
  text-indent: 28px;
  letter-spacing:2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;

}
.about-bottom .centerr {
  display: block;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("http://120.78.138.104/images/HL-website/bg2.jpg");
  border: 5px solid white;
}
