<div class="about" [ngStyle]="{'height': h + 'px'}" style="padding-top: 80px">
    <div class="about-top" >
      <h1 class="h1">ABOUT US</h1>
      <div class="line">
        <div class="s-line"></div>
      </div>
      <p class="p">关于我们</p>
    </div>
    <div class="container">
    <div class="row" style="padding-top: 70px">
      <div class="col-lg-4 col-md-4">
        <div class="centerl"></div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="centerc">
          <h4 class="text-center">公司简介</h4>
          <p>
          <span>
            {{companyTro}}
          </span>
          </p>
        </div>

      </div>
      <div class="col-lg-4 col-md-4">
        <div class="centerr"></div>
      </div>
    </div>
  </div>
</div>
